html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.navigation{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: white;
    z-index: 10000;
}
.navigation a{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 1000;
    padding: 10px;
    transition: 500ms;
}

.navigation a:hover{
    color: red;
}

.navigation img{
    padding: 10px;
    mix-blend-mode: darken;
}

.bikephoto{
    position: relative;
    top: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bikephoto .bikeimage {
    width: 100%;
    height: auto;
}


.next{
    position: absolute;
    right: 1%;
    width: 10px;
    height: 10px;
    background-color: rgba(155, 152, 152, 0.289);
    z-index: 100;
    border-top: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    transition: 500ms;
}

.prev{
    position: absolute;
    left: 1%;
    width: 10px;
    height: 10px;
    background-color: rgba(234, 225, 225, 0.636);
    z-index: 100;
    border-top: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(225deg);
    transition: 500ms;
}

.prev input, .next input{
    background-color: rgb(0, 0, 0);
    border: none;
    transition: 500ms;
    cursor: pointer;
} 

.prev:hover {
    transform: scale(1.5) rotate(225deg); 
    transform-origin: center;
} 

.next:hover{
    transform: scale(1.5) rotate(45deg); 
    transform-origin: center;
}
.info{
    font-family: "Poppins", sans-serif;
    position: absolute;
    padding: 0;
    top: 80%;
    color: white;
    font-size: 4rem;
    font-weight: 800;
}

#bikes{
    position: relative;
    top: 150px;
    text-align: center;
}

#bikes h1{
    padding: 10px;
    background-color: red;
    color: white;
    width: max-content;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    letter-spacing: 2px;
    
}

.bike_img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.bike_img img {
    max-width: 100%;         
    height: auto;             
}
#Rating{
    position: relative;
    top: 200px;
}

#Rating h1{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    letter-spacing: 2px;
    background-color: red;
    color: white;
    padding: 10px;
}

.rating-box{
    position: relative;
    font-size: 2rem;
}

.stars i{
    cursor: pointer;
    transition: 500ms;
}

.stars i.active{
    color: orange;
}

.stars i:hover{
    color:orange;
}

.rating-box{
    font-family: "Roboto", sans-serif;
    text-align: center;
}

#feedback{
    border: 2px solid black;
    padding: 10px 100px;
    resize: none;
}

.bike_img span{
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    text-decoration: underline;
    font-size: 2rem;
    text-underline-offset: 8px;
}

.bike_img img:hover+span{
    text-decoration-color: red;
    text-decoration-thickness:4px ;
}

@media (max-width:780px){
    .navigation{
        height: max-content;
    }
    .navigation a{
        font-size: 1.5rem;
    }
    .navigation img{
        margin: 0;
        height: 60px;
    }
    .bikephoto{
        top: 100px;
    }
    .info{
        font-size: 2rem;
    }
}
